/*
 I am still having trouble getting the divs to behave exactly as I want them to.
 The intermediate solution is to set html to 90vh, and set the center pane to 73vh.
 When I try to fill the entire screen, the footer is lost, and the end of the last
 ticket is also off the bottom of the browser window.
 */
html {
    height: 90vh;
    overflow: hidden;
}

body {
    height: 100vh;
    overflow: hidden;
}

.main_page {
    width: 100%;
    height: 100%;
}

.header {
    display: block;
    width: 100%;
    height: auto;
}

.center_pane {
    width: auto;
    height: 73vh;
    margin: 5px;
}

.sidebar {
    background-color: lightblue;
    float: left;
    height: 100%;
}

.main_panel {
    width: auto;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
}

.footer {
    display: block;
    width: 100%;
    height: auto;
}

.title {

}

.body {
    width: 100%;
    height: 100%;
    word-wrap: break-word;
}

.user {
    width: 50%;
    float: left;
}

.assignee {
    width: 50%;
}

.bottom_of_ticket {
    width: 100%;
    height: auto;
}

.ticket {
    border: 1px solid black;
    width: 100%;
}

.odd_ticket {
    background-color: beige;
}

.even_ticket {

}