<!doctype html>
<html>
   <head>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
      <script src="mainapp.js"></script>
       <script src="issues/controller.js"></script>
   </head>
   
   <body ng-app="mainApp" ng-controller="mainController">
      <div id="model">
          <table>
              <tr><td>Last ? days</td><td><input type="text" ng-model="search.days"></td></tr>
              <tr><td>Title</td><td><input type="text" ng-model="search.title"></td></tr>
              <tr><td>Body</td><td><input type="text" ng-model="search.body"></td></tr>
              <tr><td>User</td><td><input type="text" ng-model="search.user"></td></tr>
              <tr><td>Assignee</td><td><input type="text" ng-model="search.assignee"></td></tr>
          </table>
      </div>
      <h2>From the controller:</h2>
      <p>{{count}} records</p>
      <div id="view">
          <table>
              <tr><th>Title</th><th>Body</th><th>User</th><th>Assignee</th></tr>
              <tr ng-repeat = "record in data | filter: {title: search.title, body: search.body, user: search.user, assignee: search.assignee}">
                  <td>{{record.title}}</td><td>{{record.body}}</td><td>{{record.user}}</td><td>{{record.assignee}}</td><td>x{{search.assignee}}y</td>
              </tr>
          </table>
      </div>
   </body>
</html>
